body {
    background-color: #1e1e1e;
    color: #fff;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container {
    background-color: #333;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 340px;
    text-align: center;
}

.login-container h2 {
    margin-bottom: 20px;
}

.login-container input[type="text"],
.login-container input[type="password"] {
    width: calc(100% - 40px);
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: none;
    background-color: #444;
    color: #fff;
    outline: none;
}

.login-container input[type="submit"] {
    width: calc(100% - 40px);
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #1a73e8;
    color: #fff;
    cursor: pointer;
    outline: none;
}

.login-container input[type="submit"]:hover {
    background-color: #0f62fe;
}

.ad {
    margin: auto;
    width: 320;
    height: 50;
    text-align: center;
    margin-top: 10px;
    margin-bottom: -40px;
}

.ad.nomargin {
    margin-top: 0px;
    margin-bottom: 0px;
}